body{

    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFED1;
}

.navbar{
    background-color: #55DDFF;
    box-shadow: 0 2px 4px 0 rgba(0. 0. 0. .05);
    min-height: 100px;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    color: black
    ;
}

.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;

}
h1{
    color:#ED217C;
}
h2{
    color: #ED217C;
    
}

h5{
    color: #ED217C ;
}

ion-icon{
    color: black;
}

#Video, video{
    max-height: 295px;
    min-width: 295px;
    
}

.form-inline{
    background-color: #55DDFF;
   
}
footer{
    background-color: #000000;
    color: #fff;  
    
}